.wrapper {
  background-color: #0f0f11;
  font-family: "Rubik", sans-serif;
  height: 105vh;
  overflow: scroll;

  .subWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 15rem;

    .container {
      background-color: #19191c;
      height: 40%;
      width: 50%;
      border-radius: 10px;
      box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .button {
        width: 200px;
        font-size: 16px;
        padding: 0.6rem 1rem;
        background-color: #772de8;
        border: none;
        color: #fff;
        border-radius: 4px;
  
        &:hover {
          cursor: pointer;
        }
  
        @media (max-width: 550px) {
          width: 150px;
          font-size: 14px;
        }
      }
      
      .label {
        font-size: 3rem;
        color: #b39cd2;

        @media (max-width: 550px) {
          font-size: 2.4rem;
        }
      }
    }
  }
}
