.messageLine {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .messageContainer {
    background-color: #6441a4;
    opacity: 0.8;
    height: fit-content;
    width: 50%;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
    color: #fff;

    .messageContent {
      font-size: 21px;
    }

    .senderIdContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .senderId {
        font-size: 13px;
        margin-top: 10px;
        color: #000;
      }
    }
  }
}
